<p>show works!</p>

<div class="container">
  <div class="col-md-8 mx-auto">
    <div class="mb-3">
      <a type="button" routerLink="/person/add" class="btn btn-outline-success">
        <span class="material-symbols-outlined"> person_add </span></a
      >
    </div>
    <div class="panel-table card">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of personList">
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.cedula }}</td>
            <td>
              <!-- <a
                type="button"
                routerLink="/person/update/{{ item.id }}"
                class="btn btn-outline-primary btn-space"
                ><span class="material-symbols-outlined"> edit </span></a
              > -->
              <button
                type="button"
                class="btn btn-outline-primary btn-space"
                (click)="getCurrent(item.id || 0)"
              >
                <span class="material-symbols-outlined"> edit </span>
              </button>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="deletePerson(item.id || 0)"
              >
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
