<div class="container mt-5">
  <div class="col-md-8 col-lg-5 mx-auto">
    <div class="card p-5">
      <div>
        <h5>AGREGAR PERSONA</h5>
      </div>

      <div *ngIf="!formPerson.valid && formDir.submitted">
        <div
          class="alert alert-info alert-dismissible fade show"
          role="alert"
        >
        El formulario esta incompleto.
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>

      <form [formGroup]="formPerson" (ngSubmit)="addPerson()" #formDir="ngForm">
        <div class="form-group mt-3">
          <label for="">Nombre</label>
          <input
            type="text"
            name="nombre"
            formControlName="nombre"
            class="form-control"
            placeholder="Ingrese su nombre"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (registerFormControl.nombre.touched) &&
              registerFormControl.nombre.errors?.required
            "
          >
            <small>*El nombre es requerido.</small>
          </span>
        </div>

        <div class="form-group mt-3">
          <label for="">Apellido</label>
          <input
            type="text"
            name="apellido"
            formControlName="apellido"
            class="form-control"
            placeholder="Ingrese su apellido"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (registerFormControl.apellido.touched) &&
              registerFormControl.apellido.errors?.required
            "
          > <small>*El apellido es requerido.</small>
            
          </span>
        </div>

        <div class="form-group mt-3">
          <label for="">Cedula</label>
          <input
            type="number"
            name="cedula"
            formControlName="cedula"
            class="form-control"
            placeholder="Ingrese su cedula"
            required
            (keyup)="prueba()"
          />
          <div *ngFor="let validation of account_validation_messages.cedula">
            <span class="text-danger"
              *ngIf="registerFormControl.cedula.hasError(validation.type) &&
                (registerFormControl.cedula.touched || registerFormControl.cedula.dirty )
                
              "
              ><small>{{ validation.message }}</small>
              <small>{{ validation.type }}</small>
            </span>
          </div>
        </div>

        <div class="form-group mt-3">
          <a
            type="button"
            routerLink="/person/show"
            class="btn btn-outline-secondary btn-space"
            ><span class="material-symbols-outlined"> arrow_back </span></a
          >
          <button
            type="submit"
            class="btn btn-outline-success btn-space"
          >
            <div>
              <span class="material-symbols-outlined"> save </span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
